.picture {
    background: rgb(204, 143, 51);
    border-radius: 2px;
    height: 200px;
    width: 200px;
    position: relative;
    margin: 1rem;
    background-size: cover;
    box-shadow: 0 3px 6px rgb(218, 166, 118), 0 3px 6px rgb(240, 196, 154);
    display: inline-block;
    text-align: left;
  }
  .img-container {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    background-size: cover;


  }
  img {
    object-fit: contain;
    max-height:200px;
    max-width:200px;

  }

  